@import 'vars';
@import 'fonts';

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 1.5px;
  color: $text;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  letter-spacing: 2px;

}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}


.content__inner{
  width: 50%;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title{
  @include axis;
  font-size: 50px;
  letter-spacing: 6px;
  color: $title;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  span {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    color: $brown;
    padding-top: 20px;
  }
}

.logo {
  @include pacifico;
  font-size: 25px;
  letter-spacing: 1px;
  color: #000;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border: unset;
  box-shadow: 0 0 1px .5px rgba(0, 0, 0, 0.5);
  background-color: rgba(180, 180, 180, 0.7);
}

::-webkit-scrollbar-thumb {
  background-color: $brown;
}

#topBtn {
  position: fixed;
  right: 35px;
  bottom: 65px;
  height: 55px;
  width: 55px;
  border: 2px solid $brown;
  background-color: transparent;
  color: $brown;
  transition: all .5s;
  cursor: pointer;
  padding: 0;
  z-index: 5;
  animation: animate 1.5s infinite;
  opacity: 0;
  visibility: hidden;

  &:hover,
  .icon-chevron-right:hover {
    box-shadow: 0px 0px 10px 0px rgb(227, 160, 98);
    background-color: rgb(227, 160, 98);
    color: #fff;
  }

  .icon-arrow-up::before {
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-size: 35px;
  }

  &.topBtn-show {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

.menu-btn,
.menu-btn__white {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: none;
  outline: none;
  position: relative;
  z-index: 15;
  display: none;
  background-color: transparent;

  span,
  span::before,
  span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: $brown;
  }
  span::before,
  span::after {
    transition: all .3s;
  }

  span::before {
    content: '';
    transform: translateY(-7px);
  }

  span::after {
    content: '';
    transform: translateY(5px);
  }
}

.menu-btn__white{
  span,
  span::before,
  span::after{
    background-color: #fff;
  }
}

.menu-btn_active {
  span {
    height: 0;
  }

  span::before {
    transform: rotate(-45deg);
    ;
  }

  span::after {
    transform: rotate(45deg);
  }
}

